<div class="container">
	<form action="/lounge/create" method="POST" role="form">
		<legend>ラウンジの作成</legend>
	
		<div class="form-group">
			<label for="">ラウンジ名</label>
			<input type="text" class="form-control" name="community_name" placeholder="Input field">
		</div>

		<button type="submit" class="btn btn-primary btn-xs">作成</button>
	</form>
</div>