
<div class="no-phone">
	 <div class="tile triple double-vertical ol-transparent">
		<a href="<%= @top.link %>">
		<div class="title-content image ">
			<%= image_tag @top.img ,class: "span7" %>
		</div>
		<div class="brand bg-dark opacity">
			<span class="text">
				<%= @top.headline %>
			</span>
		</div>
		</a>
	</div>
</div>