<div class="container">
  <div class="raw">

    <form id="form_id" action="/create_account" method="post">
      <p>
        お名前：<input type="text" name="name" size="40">
      </p>
      <p>
        ユーザ名：<input type="text" name="id" size="40">
      </p>
      <p>
        パスワード：<input type="password" name="password" size="40">
      </p>

      <input type="submit" name="some_name" value="登録する">
    </form>

  </div>
</div>
